.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.background {
    // background-image: url('../../assets/fondo2.jpg');
    // background-size: cover;

}

img {
    width: 134px;
    border-radius: 88px;
}