<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-row>
      <ion-col class="center">
        Lista de problemas
      </ion-col>
      <ion-col class="center">
        <ion-button type="button" color="warning" routerLink="/report/new" style="font-size: 10px;">
          Nuevo reporte<ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="suelta para recargar la lista"
      refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <ion-row style="height: 45px;">
    <ion-col class="text-center">

      <p>¿Que es?</p>
    </ion-col>
    <ion-col class="text-center">
      <p>Fecha</p>
    </ion-col>
    <ion-col class="text-center">
      <p>Acciones</p>
    </ion-col>
  </ion-row>

  <div>
    <ion-list style="height: 100%;">
      <ion-item *ngFor="let item of items">
        <ion-col class="text-center">
          <p>Una problema</p>
        </ion-col>
        <ion-col class="text-center">
          {{item.title}}
        </ion-col>
        <ion-col class="center">
          <diV *ngIf="item.icon === 0" style="color: green;" class="icon text-center">
            <ion-avatar [routerLink]="[ '/report', item.title ]">
              <ion-icon name="eye"></ion-icon>
            </ion-avatar>
          </diV>
          <diV *ngIf="item.icon === 1" style="color: orange;" class="icon text-center">
            <ion-avatar [routerLink]="[ '/report', item.title ]">
              <ion-icon name="eye"></ion-icon>
            </ion-avatar>
          </diV>
          <diV *ngIf="item.icon === 2" style="color: red;">
            <ion-avatar [routerLink]="[ '/report', item.title ]" class="icon text-center">
              <ion-icon name="eye"></ion-icon>
            </ion-avatar>
          </diV>
        </ion-col>
      </ion-item>
    </ion-list>
  </div>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->

</ion-content>