<ion-header style="height:43px;">
  <ion-title routerLink="/login" style="width: 100%;margin: 3px;padding: 8px;">
    <ion-icon name="arrow-round-back"></ion-icon>Registro de usuario
  </ion-title>
</ion-header>
<ion-content>
  <ion-card-content>
    <div class="center">
      <img src="../../assets/icon/profile.png" class="slide-image" *ngIf="!filestring">
      <img [src]="filestring" class="slide-image" *ngIf="filestring">
    </div>
    <div style="margin: 10px;" class="center">
      <input type="file" name="file" id="file" class="fileInput" (change)="changeListener($event)"
        style="display: none;" />
      <label for="file" class="input-mod2 ">
        <ion-icon name="images"></ion-icon> Selecciona una foto de perfil
      </label>
    </div>
    <form #form="ngForm" (ngSubmit)="register(form)" method="post">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input ngModel name="fullName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" ngModel name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input type="number" ngModel name="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input ngModel name="address"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" ngModel name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha de nacimiento</ion-label>
        <ion-datetime value="2019-10-01T15:43:40.394Z" ngModel name="birthdate" display-timezone="utc"></ion-datetime>
      </ion-item>
      <div style="display: flex;justify-content: center;align-content: center;margin-top: 52px;">
        <ion-button type="submit" color="tertiary">Registrarse</ion-button>
      </div>

    </form>
  </ion-card-content>
</ion-content>